*.aux
*.log
*.out
*.toc
e-wall.pdf
*.swp

# eagle backup files
*.l#*
*.s#*
*.b#*

# temporary files for mspgcc
firmware/*.a43
firmware/*.d
firmware/*.elf
firmware/*.lst
firmware/*.o

# datasheets
datasheets/*.pdf
